      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
       
#logo {
    position: relative;
    display: block;
    width: 220px;
    font-size: 0;
    z-index: 1;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    padding: 2px 0;
} 
h5{
	
}
.mainBottom{
	width:100%;
}
.container-box{
	    width: 1150px;
    position: relative;
    margin-left: 40px;
}
.table-responsive{
	display:flex !important;
}
.left{
	width:50%;
}
.right{
	width:50%;
}
.adminTable{
	    border-top: #000 1px solid;
    width: 100%;
}

/* 
오른쪽테이블 선나누기 */
/* .tRight{
	border-left: 1px solid #dfdfdf;
} */
table thead tr{
	    background: #f7f7f7;
	   border-bottom: 1px solid #dddddd;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 14px !important;
	    
}
thead tr th {
	       padding: 10px 0 10px 0;
}
tbody tr{
border-bottom: 1px solid #dddddd;
    text-align: center;
    font-size: 13px !important;
    color: #888;
}
tbody tr td{
	    padding: 10px 0 10px 0;

}
.table-bordered th, .table-bordered td {
    border: 1px solid #eceff1 ;
}
.class{
	
}
.status{
	
}
.title, .tTitle{
	    padding-left: 15px;
}
.writer{
	
}
.content{
	
}
.date{
	
}
.tClass{
	    padding-top: 10px;
}
.tStatus{
	
}
.tTitle a,.tContent a{
	overflow: hidden;
    max-width: 95%;
    color: #000;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    vertical-align: middle;
}
.tWriter{
	
}
.tDate{
	
}
.table-div{
	padding: 1.25rem;
}




.center{
	text-align:center;
}
.tleft{
	text-align:left;
}
.tableBox{
	    margin-top: 30px;
}
.tableTitle{
	border-bottom: 2px solid #86909a;
	background: linear-gradient(209deg, rgba(247,247,247,1) 49%, rgba(0,212,255,0) 100%);
}
.menuTitle {
    margin-top: 1.5rem !important;
    padding: 5px 10px;
    font-weight: 600;
}

@media only screen and (max-width: 1560px){
	.container-box{
	    width: 100%;
    margin:auto ;
}
	thead tr th {
    padding: 10px 0;
    min-width: 60px;
}
.container-fluid{
	
}
	
}

@media only screen and (max-width: 665px){
	.container-box{
	    width: 100%;
    margin:auto ;
}
.container-fluid{
	    padding: 0;
	    overflow: hidden;
}
.content,.tContent {
    display: none;
}
	
thead tr th {
    padding: 10px 0;
    min-width: 52px;
    font-size: 13px;
}
.title, .tTitle {
    padding-left: 12px;
}
.menuTitle{
	    font-size: 24px;
    margin-left: 5%;
}
.paging,.search-area {
    clear: both;
    padding: 0 0 30px 0;
    text-align: center;
    position: relative;
}
.paging p.right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.paging-body {
    display: inline-block;
    padding-left: 0;
}
}