.containerNew {
  position: relative;
  max-width: 1260px;
  height: 100%;
  padding: 20px 0 0 0;
  margin: 0 auto;
}
#nav-font{
	color:#5e636d;
}
.list-group-item{
	padding-left: 25px;
}
.bi-chevron-down{
	margin: 0 15px;
}
.community>div {
	box-shadow: 0px 10px 11px -13px rgba(0,0,0,0.19);
	border: 1px solid #dddddd;
}
.sectionBox2>a{
	box-shadow: 0px 10px 11px -13px rgba(0,0,0,0.19);
	border: 1px solid #dddddd;
}
.col-md-10, .col-md-2 {
    padding-right: 5px;
    padding-left: 5px;
}
@media only screen and (max-width: 979px) {
	.m-menu{
	    padding-top: 20px;
	}
  .containerNew {
    padding: 0;
  }
  .col-md-10{
	max-width: 100% !important;
	flex: none !important;
	padding: 0 !important;
  }

  .col-md-2 {
    display: none;
  }
  
  .phe_main_search .input-box {

  width: 90%!important;

}

.m-drop-nav{
	display: block !important;
}
.m-drop-nav svg{
	
}
 .tit-h1,.m-drop-tit-title,.m-drop-tit-body{
	font-size: 20px !important;
	margin: 0 !important;
	padding: 0 10px 22px !important;
} 

/* .tit-h1, .m-drop-tit-title, .m-drop-tit-body {
    font-size: 20px !important;
    padding: 0 10px 20px !important;
    margin: 0 -30px 30px !important;
    } */
    
    



.sectionBox2{
	    margin-bottom: 10px !important;
}


#cBoxa {
 margin-right: 5px !important;

}

#cBoxb {}



}


a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #212529;
}

.sidebar {
  float: left;
  width: auto;
  border: 1px solid #dddddd;
  padding: 10px
}
.form-table {
    border-top: 1px solid #d7d8da !important;
   
}
.m-menu{
	background:white;
	width:100%;
}
.tit-h1, .m-drop-tit-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 100%;
        border-bottom: 1px solidrgba(46,87,255,1) !important;
            margin: 0 -30px 30px;
    padding: 0 30px 20px;
}
.m-drop-tit-body {
    margin: 0 -30px 30px;
    padding: 18px 31px 16px !important;
    font-size: 20px;
    margin-bottom: 30px;
    color: #888888;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    border-bottom: 1px solid #e1e4ea;
}
.m-drop-tit-body a {
    color: #848889;
}
.m-drop-nav, .m-drop-down {
    display: none;
}
.m-drop-down{
    background: #f3f4f575;
}
.m-drop-tit-body:hover > a {
  color: #000000;
  font-weight: 600;
}
#sideTitle{
	  border-left: 4px solidrgba(46,87,255,1) !important;
	    color: black !important;
  font-weight: 600 !important;
    background: #f6f6f6 !important;
  
	
}
#sideTitle a, #sideTitle a:visited, #sideTitle a:link{
	    color: black !important;
  font-weight: 600 !important;
 
}


.btn-link,
.btn-link:link,
.btn-link:hover {
  color: #212529 !important;
  text-decoration: none;
}

.sectionBox {
  margin-bottom: 10px;
  background-color: white;
}

 .sectionBox2{
  margin-bottom: 20px;
} 

.card-header {
  background: white !important;
  border: 0 !important; box-shadow: 0px 10px 11px -13px rgba(0,0,0,0.19);
}

.card-body {

  background: #eff3f6a3;
    padding: 1.5rem 2rem;
}



.qAnswer {
  width: 80%;
  word-break: keep-all;
}
.qAnswer p{
	white-space: pre-line;
}
.qAnswer span{
	color:rgba(46,87,255,1);
    font-weight: 600;
    white-space: nowrap;
}


.phe_main_search {
  width: 100%;
  min-height: 250px;
  padding: 64px 15px 53px;
  /* background: url(https://image.paxnet.co.kr/rpan/common/images/bg_phe_main_pc.png) no-repeat 0 0; */
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  line-height: 150%;
background:rgba(46,87,255,1);
    background: linear-gradient(152deg, rgba(30,120,255,1) 0, rgba(169,30,255,1) 100%);
    background-size: 150% 150%;

}

.phe_main_search .tit {
  font-size: 28px;
  color: #fff;
}

.phe_main_search fieldset {
  display: block;
  vertical-align: middle;
}

.phe_main_search .input-box {
  position: relative;
  width: 70%;
  margin: 20px auto 0;
  padding: 0 38px 0 0;
}

.phe_main_search .input-box .text {
  padding-top: 11px;
  padding-bottom: 10px;
}

.phe_main_search .input-box .search {
position: absolute;
    top: 0;
    right: -7px;
    width: 44px;
    height: 41px;
    background: url(https://image.paxnet.co.kr/rpan/common/images/btn_search.png) no-repeat 100% 100%;
    background-size: 73px 73px;
    font-size: 0;
    border: 2px solid #444444;
}

.phe_main_search .inquiry-box {
  margin: 15px 0 0 0;
}

.phe_main_search .inquiry-box .link {
  display: inline-block;
  min-width: 67px;
  margin: 0 0 0 5px;
  padding: 2px 5px;
  border: 1px solid #fff;
  color: #fff;
  vertical-align: middle;
}

.phe_main_search .inquiry-box .link {
display: inline-block;
    min-width: 67px;
    padding: 5px 10px;
    border: 3px solid #ff81a4;
    color: #ffffff;
    vertical-align: middle;
    margin-top: 10px;
}

.notice-line {
  border-top: #eff3f6 10px solid;
  padding: 0 12px;
  background-color: #dae4ea;
}


.cTitle {
  font-size: 17px;
  font-weight: 600;
}


.main-tit {
  padding: 15px 0 15px 20px;
  /* border-bottom: 1px solid #eaeaea; */
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.moreBttn, .moreBttn:link, .moreBttn:visited {
	padding: 6px 10px;
	margin-top: 4px;
/* 	margin: 0 5px;
	border-radius: 2px; */
}

.norm {
  border: 1px solid;padding: 9px 20px !important;
}
.moreBttn:hover {
  border: 0;  background:rgba(46,87,255,1);
  color: white;
}

.blue,
.blue:visited,
.blue:link {
  background:rgba(46,87,255,1);
  color: white;


}

.left {
  float: left;
}

.right {
  float: right;
}

.phe-inquiry-top .faq-list {
  margin: 0 20px;
  border-top: 0;
}

.sectionWrapper {
  padding: 8px 12px 15px 12px;
}
.cBox1 {
	width: 49.5%;
    display: inline-block;
    text-align: center;
    padding: 25px 20px;
    background: white;
    float: left;

}
.cBox2 {
width: 49.5%;
    display: inline-block;
    text-align: center;
    padding: 25px 20px;
    background: white;
    float: right;

}
.cBox1:hover {
  background-color:rgba(46,87,255,1);
  color: white;
}
.cBox2:hover {
  background-color:rgba(46,87,255,1);
  color: white;
}

.cBox1 svg {
  font-size: 4.5em;
}

.cBox2 svg {
  font-size: 4.5em;
}

#cBoxb2 {}

.cBoxTitle2 {
  font-size: 24px;
  font-weight: 700;
}
.m-menu {
	display: none;
}
@media only screen and (max-width: 979px){
.m-menu {
	display: block;
}
.sectionBox{
	border-top: none !important;
}
}