.containerNew {
  position: relative;
  max-width: 1260px;
  height: 100%;
  padding: 20px 0 0 0;
  margin: 0 auto;
}
#nav-font{
	color:#5e636d;
}
.list-group-item{
	padding-left: 25px;
}
.bi-chevron-down{
	margin: 0 15px;
}
@media only screen and (max-width: 979px) {
	.m-menu{
	    padding-top: 20px;
	}
  .containerNew {
    padding: 0;
  }
  .col-md-10{
	max-width: 100% !important;
	flex: none !important;
	padding: 0 !important;
  }

  .col-md-2 {
    display: none;
  }
  
  .phe_main_search .input-box {

  width: 90%!important;

}

.m-drop-nav{
	display: block !important;
}
.m-drop-nav svg{
	
}
 .tit-h1,.m-drop-tit-title,.m-drop-tit-body{
	font-size: 20px !important;
	margin: 0 !important;
	padding: 0 10px 22px !important;
} 

/* .tit-h1, .m-drop-tit-title, .m-drop-tit-body {
    font-size: 20px !important;
    padding: 0 10px 20px !important;
    margin: 0 -30px 30px !important;
    } */
    
    



.sectionBox2{
	    margin-bottom: 10px !important;
}


#cBoxa {
 margin-right: 5px !important;

}

#cBoxb {}



}


a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #212529;
}

.sidebar {
  float: left;
  width: auto;
  border: 1px solid #dddddd;
  padding: 10px
}
.form-table {
    border-top: 1px solid #d7d8da !important;
   
}
.m-menu{
	background:white;
	width:100%;
}
.tit-h1, .m-drop-tit-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 100%;
        border-bottom: 1px solid #1e78ff !important;
            margin: 0 -30px 30px;
    padding: 0 30px 20px;
}
.m-drop-tit-body {
    margin: 0 -30px 30px;
    padding: 18px 31px 16px !important;
    font-size: 20px;
    margin-bottom: 30px;
    color: #888888;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    border-bottom: 1px solid #e1e4ea;
}
.m-drop-tit-body a {
    color: #848889;
}
.m-drop-nav, .m-drop-down {
    display: none;
}
.m-drop-down{
padding-bottom: 5px;
    background: #f3f4f575;
}
.m-drop-tit-body:hover > a {
  color: #000000;
  font-weight: 600;
}
#sideTitle{
	  border-left: 4px solid #1e78ff !important;
	    color: black !important;
  font-weight: 600 !important;
    background: #f6f6f6 !important;
  
	
}
#sideTitle a, #sideTitle a:visited, #sideTitle a:link{
	    color: black !important;
  font-weight: 600 !important;
 
}


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}

#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}

#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}

#cssmenu ul ul li {
  float: none;
}

#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}

#cssmenu ul li:hover>ul {
  visibility: visible;
}

#cssmenu ul li {
  float: none;
  padding-left: 10px;
}

#cssmenu ul ul li {
  font-weight: normal;
}

/* Custom CSS Styles */
#cssmenu {
    font-size: 18px;
    width: 200px;
    background: white;
    box-shadow: 0px 10px 11px -13px rgba(0,0,0,0.19);border: 1px solid #dddddd;
}

#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
}

#cssmenu>ul {
  float: none;
}

#cssmenu ul {
  background: #fff;
}

#cssmenu>ul>li {
  border-left: 4px solid #d7d8da;
  border-bottom: 1px solid #d7d8da ;
}

#cssmenu>ul>li>a {
  padding: 25px 10px;
}


#cssmenu>ul>li:hover {
  border-left: 4px solid #1e78ff;

}

#cssmenu ul li:hover>a {
  color: #000000;
  font-weight: 600;
}

#cssmenu>ul>li:hover {
  background: #f6f6f6;
}

/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}

#cssmenu ul ul {
  width: 180px;
  background: none;
  border-left: 20px solid transparent;
}

#cssmenu ul ul a {
  padding: 8px 0;
}

#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff;
}

#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}

#cssmenu ul ul li:first-child {
  padding-top: 10px;
}

#cssmenu ul ul li:last-child>a {
  border-bottom: none;
}

#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.btn-link,
.btn-link:link,
.btn-link:hover {
  color: #212529 !important;
  text-decoration: none;
}

.sectionBox {
  margin-bottom: 10px;
  background-color: white;
}

 .sectionBox2{
  margin-bottom: 20px;
} 

.card-header {
  background: white !important;
  border: 0 !important; box-shadow: 0px 10px 11px -13px rgba(0,0,0,0.19);
}

.card-body {

  background: #eff3f6a3;
    padding: 1.5rem 2rem;
}



.qAnswer {
  width: 80%;
  word-break: keep-all;
}
.qAnswer p{
	white-space: pre-line;
}
.qAnswer span{
	color: #1e78ff;
    font-weight: 600;
    white-space: nowrap;
}


.phe_main_search {
  width: 100%;
  min-height: 250px;
  padding: 64px 15px 53px;
  /* background: url(https://image.paxnet.co.kr/rpan/common/images/bg_phe_main_pc.png) no-repeat 0 0; */
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  line-height: 150%;
background: #1e78ff;
    background: linear-gradient(152deg, rgba(30,120,255,1) 0, rgba(169,30,255,1) 100%);
    background-size: 150% 150%;

}

.phe_main_search .tit {
  font-size: 28px;
  color: #fff;
}

.phe_main_search fieldset {
  display: block;
  vertical-align: middle;
}

.phe_main_search .input-box {
  position: relative;
  width: 70%;
  margin: 20px auto 0;
  padding: 0 38px 0 0;
}

.phe_main_search .input-box .text {
  padding-top: 11px;
  padding-bottom: 10px;
}

.phe_main_search .input-box .search {
position: absolute;
    top: 0;
    right: -7px;
    width: 44px;
    height: 41px;
    background: url(https://image.paxnet.co.kr/rpan/common/images/btn_search.png) no-repeat 100% 100%;
    background-size: 73px 73px;
    font-size: 0;
    border: 2px solid #444444;
}

.phe_main_search .inquiry-box {
  margin: 15px 0 0 0;
}

.phe_main_search .inquiry-box .link {
  display: inline-block;
  min-width: 67px;
  margin: 0 0 0 5px;
  padding: 2px 5px;
  border: 1px solid #fff;
  color: #fff;
  vertical-align: middle;
}

.phe_main_search .inquiry-box .link {
display: inline-block;
    min-width: 67px;
    padding: 5px 10px;
    border: 3px solid #ff81a4;
    color: #ffffff;
    vertical-align: middle;
    margin-top: 10px;
}

.notice-line {
  border-top: #eff3f6 10px solid;
  padding: 0 12px;
  background-color: #dae4ea;
}


.cTitle {
  font-size: 17px;
  font-weight: 600;
}


.main-tit {
  padding: 15px 0 15px 20px;
  /* border-bottom: 1px solid #eaeaea; */
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.moreBttn,
.moreBttn:link,
.moreBttn:visited {
  padding: 10px 20px;    margin: 0 5px;    border-radius: 2px;

}

.norm {
  border: 1px solid;padding: 9px 20px !important;
}
.moreBttn:hover {
  border: 0;  background: #1e78ff;
  color: white;
}

.blue,
.blue:visited,
.blue:link {
  background: #1e78ff;
  color: white;


}

.left {
  float: left;
}

.right {
  float: right;
}

.phe-inquiry-top .faq-list {
  margin: 0 20px;
  border-top: 0;
}

.sectionWrapper {
  padding: 8px 12px 15px 12px;
}
.cBox2 {
width: 49%;
    display: inline-block;
    text-align: center;
    padding: 25px 20px;
    background: white;
    border-top: 5px solid #eff3f6;
}

.cBox2:hover {
  background-color: #1e78ff;
  color: white;
}

.cBox2 svg {
  font-size: 4.5em;
}

#cBoxa2 {
  margin-right: 16px;

}

#cBoxb2 {}

.cBoxTitle2 {
  font-size: 24px;
  font-weight: 700;
}