@charset "UTF-8";

/* .notice-header { margin-bottom:10px; background:#fff; border:1px solid #ddd}
.notice-header:after {display:block; clear:both; content:''}
.notice-header .title-wrap {padding:20px 20px 10px 20px}
.notice-header .title-wrap .category-info a {color:#5a6268}
.notice-header .title-wrap .notice-title {margin-top:5px; font-size:2em; color:#111; line-height:1em}
.notice-header .info-wrap {margin-top:10px; padding:10px 20px; padding-left: 7px; padding-top: 30px; background:#5a6268}
.notice-header .info-wrap:after {display:block; clear:both; content:''}
.notice-header .info-wrap .notice-info {float:left; list-style:none}
.notice-info{padding-left: 20px;}
.notice-header .info-wrap .notice-info:after {display:block; clear:both; content:''}
.notice-header .info-wrap .notice-info li {margin-right:15px; float:left; font-size:0.875em; color:#fff5f0}
.notice-header .info-wrap .notice-info li i {margin-right:4px; color:#fff}
.article{border: 1px gary solid; height: 500px; padding: 20px;}
.buttons{width: 1200px; display: -webkit-box;}
#btnList, #btnDelete, #btnUpdate, #btnMyList{ width: 66px; height: 40px; font-size: 17px; margin-top: 10px;}
#btnMyList, #btnUpdate, #btnDelete{margin-left: 10px; }
#btnMyList{width: 115px;}
댓글
.comment-title {padding:10px 20px; font-weight:normal; font-size:1.5em; background:#5a6268; color:#fff}
.comment-wrap { padding:20px; border:1px solid #ddd; background:#fff; margin-bottom: 50px;}
.commentBody{border: 1px #ddd solid; padding: 20px;}
.comment-form dl.comment-guest dt {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.comment-form dl.comment-guest dd {margin-bottom:10px}
.comment-form dl.comment-guest dd input {width:100%; padding:10px 0; border:1px solid #ddd; background:#f9f9f9; color:#999; text-indent:10px;}
.comment-form dl.comment-guest dd input:focus, .comment-form dl.comment-guest dd input:active {background:#fff; color:#111}
.comment-form dl.comment-write {margin-top:10px;}
.comment-form dl.comment-write dt {position: absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0;}
.comment-form dl.comment-write dd textarea {width:100%; margin-bottom:10px; padding:10px 0; height:200px; border:1px solid #ddd; background:#f9f9f9; color:#999; text-indent:10px;}
.comment-form dl.comment-write dd textarea:focus, .comment-form dl.comment-write dd textarea:active {background:#fff; color:#111}
.comment-form button {display:block; width:100%; margin:10px 0 0 0; padding:10px 0; border:1px solid #5a6268; background:#5a6268; color:#fff; text-align:center;}
.comment-hr{width: 1020px; border: 0.5px gray solid; margin-left: 0px; opacity: 20%;}


.paging {clear: both;padding: 0 0 30px 0;text-align: center;position: relative;}
.paging-body {display: inline-block;padding-left: 0;border-radius: 4px; }
 */
/* 댓글 끝 */
/* article end */
