@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, a {
    font-family: 'Noto Sans KR', sans-serif;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
   pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small,
   var, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption,
   tbody, tfoot, thead, tr, article, aside, canvas, details, figcaption,
   figure, footer, header, hgroup, menu, nav, section, summary, time,
   audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   font-size: 14px;
   background: transparent;
   list-style: none;
   box-sizing: border-box;
   word-break: break-all;
}

span, em, mark, strong, b, label {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   background: transparent;
   list-style: none;
   box-sizing: border-box;
}

em, i {
   font-style: normal;
}

a, a:link, a:visited, a:active, a:hover {
   text-decoration: none;
}

p {
    line-height: 160%;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
.table td, .table th {
    padding: 6px;
}
tr td button{
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
} 
body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    background-color: #eff3f6;
    color: #000;
}
.table{
	margin-bottom: 0;
}
.all-dim {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: #eff3f6;
    text-indent: -9999px;
}
.containerNew{
position: relative;
    max-width: 1260px;
    height: 100%;
    padding: 20px 0 0 0;
    margin: 0 auto;
}
.row {
   margin: 0;
}
.board-views span, .board-likes span {
    display: none;
}
.m-drop-nav, .m-drop-down{
	display: none;
}
.free-board {
    padding: /*20px 30px 60px 30px*/20px 30px 0 30px;
    margin-bottom: /*70px*/40px;
    background: #fff;
    position: relative;
    border: 1px solid #dddddd;    min-height: 600px;
}
.last{
	border-bottom: 1px solid #eaeaea;
}
.m-drop-tit-title{
    margin: 0 -30px 30px;
    border-bottom: 1px solid #eaeaea;
    padding: 0 30px 20px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 100%;
}
.tit-h1, .m-drop-tit-title {
    margin: 0 -30px 30px;
    border-bottom: 1px solid #eaeaea;
    padding: 0 30px 20px;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 100%;
}
.m-drop-tit-body a{
	color: #848889;
}
.m-drop-tit-body:hover > a {
  color: #000000;
  font-weight: 600;
}
.m-drop-tit-body{
    margin: 0 -30px 30px;
    padding: 0 30px 20px;
    font-size: 20px;
    margin-bottom: 30px;
    color: #888888;
    font-weight: bold;
    line-height: 100%;
}


.sidebar {
  float: left;
  width: auto;
  border: 1px solid #dddddd;
  padding: 10px
}
.col-md-10, .col-md-2{
    padding-right: 5px;
    padding-left: 5px;
}
@media only screen and (max-width: 1599px)
.board-page {
    margin: 0 auto 100px;
}
.board-view {
    padding: 0 0 30px;
}
.board-view .board-view-tit {
    position: relative;
    border-bottom: #eaeaea 1px solid;
    padding: 0 0 20px;
}
.board-view .board-view-tit h1 {
    font-size: 28px;
    color: #000;
    line-height: 1.2;
    padding-right: 130px;
    word-break: break-all;
}
.board-view .board-view-tit .writer {
    min-height: 35px;
    line-height: 35px;
    margin-top: 10px;
    color: #888888;
    font-size: 13px;
}
.board-view .board-view-tit .writer .img, .board-view .board-view-tit .writer .text {
    display: inline;
}
.board-view .board-view-tit .writer img {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #eaeaea;
}
.board-view .board-view-tit .writer span {
    background: url(/resources/img/bg_line.png) no-repeat right 50%;
    padding-right: 10px;
    margin-right: 5px;
}
.board-view .board-view-tit .writer span:last-child {
    background: none;
}
.board-view .board-view-cont {
    border-bottom: #eaeaea 1px solid;
    padding: 40px 0;
    line-height: 1.6;
    min-height: 250px;
}
.board-view .board-view-cont p {
    font-size: 16px;
}
.sns-area.board-sns {
    margin-top: 0;
    padding-top: 20px;
}
.sns-area {
    min-height: 36px;
    margin-top: 15px;
    position: relative;
    text-align: center;
    clear: both;
    z-index: 100;
    margin-bottom: 60px;
}
.sns-area .notify-box {
    float: left;
}
.sns-area .notify-box .notify {
    height: 28px;
    line-height: 25px;
    padding: 0px 15px 0 10px;
    box-sizing: border-box;
}

[class*="btn-"] {
    position: relative;
    background: #fff;
    border: 1px solid #444;
    line-height: 100%;
    display: inline-block;
    color: #000;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
}
[class*="btn-s"] {
    padding: 6px 10px;
    min-width: 60px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #888;
}
input[type="button"], button {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.sns-area .notify-box .notify span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    background: url(/resources/img/ico_sub.png) no-repeat 0 -100px;
    color: #888888;
    padding-left: 24px;
}
.sns-area .like-box {
    float: right;
}
.sns-area .like-box .like {
    height: 36px;
    line-height: 36px;
    padding: 0px;
    box-sizing: border-box;
    color: #a7753a;
}
[class*="btn-m"] {
    padding: /*10px 14px*/7px 14px;
    min-width: 70px;
    font-size: 14px;
}
.sns-area .like-box .like i {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: url(/resources/img/ico_board.png) no-repeat 0 -60px;
    text-indent: -9999em;
    margin-right: 5px;
}
.comment-cont {
    position: relative;
    margin-top: 30px;
}
.comment-cont .cmt-write {
    border: #eaeaea 1px solid;
    box-sizing: border-box;
    position: relative;
    clear: both;
}
.comment-cont .cmt-write textarea {
    border: none;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 18px;
}
textarea {
    padding: 1%;
    width: 100%;
    border: 1px solid #ccc;
    color: #4d4d4d;
    resize: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
textarea {
    overflow: auto;
}
.comment-cont .cmt-write .text-byte {
    background: #fff;
    text-align: right;
    color: #888;
    font-size: 13px;
}
.comment-cont .cmt-write > p {
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
}
.comment-cont .cmt-write > div.support-button {
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
    height: 48px;
}
.comment-cont .cmt-write .insert {
    padding: 0;
    position: relative;
    float: right;
/*     bottom: 6px;
    right: 7px; */
}
.comment-cont .cmt-write .insert .btn-s.gray {
    border: #444 1px solid;
    color: #fff;
}
[class*="btn-"].gray {
    background: #444;
    border: 1px solid #444;
    color: #fff;
}
.comment-cont .cmt-list {
    padding-top: 20px;
}

.comment-cont .cmt-list > p {
    position: relative;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border-bottom: #eaeaea 1px solid;
    padding-bottom: 10px;
}
.comment-cont .cmt-list > p {
    border-bottom: none;
}
.comment-cont .cmt-list > p span {
    color: rgba(46,87,255,1);
}
.comment-cont .cmt-list > p strong {
    position: absolute;
    top: 6px;
    right: 0;
    font-size: 13px;
    font-weight: normal;
}
input[type="checkbox"]:not(old), input[type="radio"]:not(old) {
    opacity: 0;
    outline: 0;
    margin-left: 0;
    position: absolute;
    z-index: -1;
}
.comment-cont .cmt-list > p strong input[type="radio"]:not(old):checked + label {
    color: #ff545b;
}
.comment-cont .cmt-list > p strong input[type="radio"] + label {
    margin-left: 10px;
    color: #666;
}
.comment-cont:after {
    content: "";
    position: absolute;
    left: -30px;
    right: -30px;
    top: -30px;
    border-top: #000 1px solid;
}
input[type="radio"]:not(old):checked + label {
    background-image: url(/resources/img/bg_radio_on.png);
}
input[type="radio"]:not(old) + label {
    display: inline-block;
    height: 18px;
    padding: 0 0 0 18px;
    background-image: url(/resources/img/bg_radio.png);
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    cursor: pointer;
    line-height: 18px;
}
.comment-cont .cmt-list li.list {
    padding: 20px 10px;
    position: relative;
}
.comment-cont .cmt-list li.list > .img {
    position: absolute;
    top: 20px;
    left: 10px;
}
.comment-cont .cmt-list li.list > .img > img {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-color: #eaeaea;
}
fieldset, img, abbr, acronym {
    border: 0;
}

.comment-cont.anonymity .cmt-list li.list > div {
    padding-left: 0;
}
.comment-cont .cmt-list .list div.text .writer {
    font-size: 13px;
    color: #888;
    vertical-align: top;
    padding-bottom: 3px;
    padding-right: 70px;
}
.comment-cont .cmt-list .list div.text .writer span:first-child {
    background: url(/resources/img/bg_line.png) no-repeat right 50%;
    padding-right: 10px;
    margin-right: 5px;
}
.comment-cont .cmt-list .list div.text .writer {
    font-size: 13px;
    color: #888;
    vertical-align: top;
    padding-bottom: 3px;
    padding-right: 70px;
}
.comment-cont .cmt-list .list div.text .cont {
    padding-bottom: 10px;
    color: #222222;
    line-height: 1.4;
    word-break: break-word;
}
.comment-cont .cmt-list li.list .share-more {
    position: absolute;
    top: 20px;
    right: 0;
}
.comment-cont .cmt-list li.list .share-more a:last-child {
    background: none;
}
.comment-cont .cmt-list li.list .share-more a {
    display: inline-block;
    color: #a7753a;
    font-size: 13px;
    padding: 0 3px 0 4px;
}
.comment-cont .cmt-list li.list .share-more a.notify span {
    background: url(/resources/img/ico_sub.png) no-repeat 0 -370px;
}
.comment-cont .cmt-list li.list .share-more a span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-indent: -9999em;
}
.comment-cont .cmt-list li.list > div {
    padding-left: 45px;
}
@media only screen and (min-width: 979px){
.comment-cont.anonymity .cmt-list li.list > div {
    padding-left: 45px;
}

}
.bt-area {
    overflow: hidden;
    padding: 20px 0 40px;
}
.bt-area span {
    display: block;
    float: right;
}
[class*="btn-s"].bodrb {
    border: 1px solid #444;
    color: #000;
}
.replyArea {
    border-bottom: #eaeaea 1px solid;
}
[class*="btn-"].red {
    background: #444;
    border: 1px solid #444;
    color: #fff;
}
.prev-next {
    width: 100%;
    overflow: hidden;
    border-top: #444444 1px solid;
    margin-bottom: 30px;
}
.prev-next > div {
    border: #eaeaea 1px solid;
}
.prev-next > div dl {
    padding: 10px 20px;
    overflow: hidden;
}
.prev-next > div dl dt {
    color: #444;
    float: left;
    width: 80px;
}
.prev-next > div dl dt {
    color: #444;
    float: left;
    width: 80px;
}
.prev-next > div.prev dl dt:before {
    content: "▲";
    font-size: 9px;
    padding-right: 7px;
}
.prev-next > div dl dd a {
    display: block;
    color: #000;
    line-height: 1.4;
    overflow: hidden;
    padding-top: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    width: 60%;
}
.prev-next > div.next {
    border-top: 0;
}
.prev-next > div dl {
    padding: 10px 20px;
    overflow: hidden;
}
.prev-next > div.next dl dt:before {
    content: "▼";
    font-size: 9px;
    padding-right: 7px;
}
.comment-cont .cmt-list li.list .share-more a.modify span {
    background: url(/resources/img/ico_sub.png) no-repeat 0 -260px;
}
.comment-cont .cmt-list li.list .share-more a.del span {
    background: url(/resources/img/ico_sub.png) no-repeat 0 -290px;
}
.paging {
    clear: both;
    text-align: center;
    position: relative;
   	margin-top: 20px;
}
#commentPaging {
    display: inline-block;
    padding-left: 0;
}
.page-link {
    color: #888888 !important;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: white;
    border: 1.5px solid #888888 !important;
}
.board-view .board-view-tit .share-more {
    position: absolute;
    top: 12px;
    right: -10px;
}
.board-view .board-view-tit .share-more a {
    display: inline-block;
    color: #a7753a;
    font-size: 13px;
    padding: 0 10px 0 5px;
    background: url(/resources/img/bg_line.png) no-repeat right 50%;
}
.board-view .board-view-tit .share-more a.modify span {
    background: url(/resources/img/ico_sub.png) no-repeat 0 -260px;
}
.board-view .board-view-tit .share-more a span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding-left: 24px;
}
.board-view .board-view-tit .share-more a.del {
    background: none;
}
.board-view .board-view-tit .share-more a.del span {
    background: url(/resources/img/ico_sub.png) no-repeat 0 -290px;
}
.comment-cont .cmt-list li {
    border-top: #eaeaea 1px solid;
}
.comment-cont .cmt-list .list div.text .btn-s {
    min-width: 78px;
	margin-right: 5px;
}
.comment-cont .cmt-write .insert .btn-s {
    color: #000;
}
.comment-cont .btn-s {
    border: #ccc 1px solid;
    color: #888;
}
.comment-cont a {
    color: #000;
}
@media only screen and (max-width: 979px){
.containerNew {
    padding: 0;
}
.col-md-10 {
    max-width: 100% !important;
    flex: none !important;
    padding: 0 !important;
}
.col-md-2, .drop-nav {
    display: none !important;
}
.free-board {
    border: none;
    min-height: auto;
    margin: 0;
    padding: 20px 0 120px;
    max-width: none !important;
    width: 100% !important;
}
.board-view, .comment-cont {
	padding: 10px;
}
.m-drop-nav {
    display: block;
}
li.list {
    padding: 20px 0;
}
li.list > .img {
    left: 0;
}
.comment-cont .cmt-list li.list > div .text {
    padding-left: 45px;
}
.comment-cont:after {
    left: 0;
    right: 0;
    top: -25px;
}
}



/* 20200618 */
td, th {
    word-break: break-all;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}
legend, caption {
    font-size: 0;
    overflow: hidden;
    text-indent: -9999999px;
    height: 0;
    width: 0;
    line-height: 0;
}


.board-view-cont p img{
max-width: 100%;
}
.share-more a span{
    color: #a7753a;
}
	
	
}







/* 고객페이지 1:1 수정 디테일 */


table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
td, th {
    word-break: break-all;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}
legend, caption {
    font-size: 0;
    overflow: hidden;
    text-indent: -9999999px;
    height: 0;
    width: 0;
    line-height: 0;
}
.all-menu, .all-dim, .mob-menu {
    visibility: hidden;
}
.containerNew {
    position: relative;
    max-width: 1260px;
    height: 100%;
    padding: 20px 0 0 0;
    margin: 0 auto;
}
.cont-area {
    padding: /*20px 30px 60px 30px*/20px 30px 0 30px;
    margin-bottom: /*70px*/40px;
    background: #fff;
    position: relative;
    border: 1px solid #dddddd;
    box-shadow: 0px 10px 11px -13px rgba(0,0,0,0.19);
}
.qna-desc, .qna-desc .import, .qna-desc .time {
    line-height: 150%;
}
.qna-desc {
    padding: 55px 30px;
    min-height: 220px;
    background: url(/resources/img/bg_customer_qna_pc.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
}
.qna-desc .import {
    font-weight: normal;
    font-size: 24px;
}
.qna-desc, .qna-desc .import, .qna-desc .time {
    line-height: 150%;
}
.qna-desc .time {
    display: block;
    margin: 5px 0 0 0;
    font-size: 16px;
}
.qna-desc .inquiry {
    display: inline-block;
    margin: 15px 0 0 0;
    padding: 6px 14px;
    border: 1px solid #7d828c;
    color: #fff;
    line-height: 1;
}
.tit-h2.type {
    margin-top: 25px;
}
.tit-h2 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}
.table-scroll-no {
    width: 100%;
    border-top: #888 1px solid;
}
.table-row {
    width: 100%;
    color: #000;
}
.table-row th:first-child {
    border-left: 0;
}
.table-row tbody th {
    text-align: left;
    background-color: #f9f9f9;
    border-bottom: #eaeaea 1px solid;
    border-left: #eaeaea 1px solid;
    padding: 12px 5px;
    font-weight: normal;
}
td, th {
    word-break: break-all;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}
.table-row td {
    text-align: left;
    border-bottom: #eaeaea 1px solid;
    padding: 9px 5px;
    line-height: 1.4;
}
.table-row .ing {
    color: #888;
}
.answer-box {
    margin: 20px 0 0 0;
    border: 1px solid #eaeaea;
}
.answer-box .tit {
    display: block;
    padding: 16px 0 16px 20px;
    background: #f9f9f9;
    font-weight: normal;
    color: rgba(46,87,255,1);
}
.answer-box .answer.no-answer {
    padding: 36px 20px 30px;
    color: #888;
    text-align: center;
}
.answer-box .answer {
    padding: 20px;
    line-height: 150%;
}
.answer-box .answer.no-answer:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(/resources/img/icon_answer.png) no-repeat 0 0;
    background-size: 60px;
}
.bt-area {
    overflow: hidden;
    padding: 20px 0 40px;
}

[class*="btn-s"] {
    padding: 6px 10px;
    min-width: 60px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #888;
}
[class*="btn-"] {
    position: relative;
    background: #fff;
    border: 1px solid #444;
    line-height: 100%;
    display: inline-block;
    color: #000;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
}
[class*="btn-"].fantasy {
    background: rgba(46,87,255,1);
    border: 1px solid rgba(46,87,255,1);
    color: #fff;
}
.bt-area-answer{
	overflow: hidden;
     padding: 20px 10px 20px;
}
.bt-area-answer span {
    display: block;
    float: right;
}
.answer-box-write{
	
    margin: 20px 0 0 0;
    border: 1px solid #eaeaea;
}

@media only screen and (max-width: 1599px){
.cont-area {
    margin-right: 0;
    float: left;
    
}
}
@media only screen and (max-width: 979px){
.all-menu, .all-dim {
    display: none;
    visibility: hidden;
}
.containerNew {
    padding-top: 104px;
}
.containerNew {
    padding: 0;
    /* padding-bottom: 170px; */
}
.qna-desc {
    padding: 80px 15px 87px;
    background: url(/resources/img/bg_customer_qna_m.png) no-repeat 50% 50%;
    background-size: 100% 100%;
    border-bottom: 10px solid #eff3f6;
}
.qna-desc .import {
    font-size: 20px;
}
.tit-h2.mopad, .tit-h3.mopad {
    padding-left: 15px;
}
.answer-box {
    margin: 20px 15px 15px;
}
.answer-box-write {
    margin: 20px 15px 15px;
}
.bt-area {
    clear: both;
    overflow: hidden;
    padding: 0 15px 40px;
}
.bt-area-answer {
    clear: both;
    overflow: hidden;
    padding: 0 15px 40px;
}











