@charset "UTF-8";
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small,
	var, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption,
	tbody, tfoot, thead, tr, article, aside, canvas, details, figcaption,
	figure, footer, header, hgroup, menu, nav, section, summary, time,
	audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 14px;
	background: transparent;
	list-style: none;
	box-sizing: border-box;
	word-break: break-all;
}

span, em, mark, strong, b, label {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
	box-sizing: border-box;
}

.all-dim {
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background: #eff3f6;
	text-indent: -9999px;
}

em, i {
	font-style: normal;
}

a, a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: #000;
}

p {
	line-height: 160%;
}

strong {
    font-weight: bold;
}
dt {
    font-weight: normal;
}
.row {
    margin: 0;
}
.container {
	padding: 20px 0 30px 0;
}
.stock-ranking{
	    padding: 2px 7px 5px;
}
.containerNew>.row .col-md-9 .chartdata {
	padding: 30px;
}
/* .chartdata{
	height: 300px !important;
} */

.col-md-9, .col-md-3 {
	padding-right: 5px;
	padding-left: 5px;
}

ul i {
	list-style: none;
	margin: 0;
	padding: 0;
	font-style: normal;
}

.col-md-3>div {
	position: relative;
	background: #fff;
	margin-bottom: 10px;
	overflow: hidden;
	    border: 1px solid #e5e6ef;
    box-shadow: 0px 10px 11px -13px rgba(0,0,0,0.19);

}
.col-md-9>div {
	position: relative;
	background: #fff;
	margin-bottom: 10px;    padding: 2px 7px 5px;
	overflow: hidden;
	    border: 1px solid #e5e6ef;
    box-shadow: 0px 10px 11px -13px rgba(0,0,0,0.19);
}
.graph_off{
	    border-bottom: 1px solid #0a84ec;
}

/* 메인 도움말 문의버튼 */
.sectionBox2{
	width:100%;
}
.cBoxTitle{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.cBox{
width: 48%;
    display: inline-block;
    text-align: center;
    padding: 10px;
}
#cBoxa:hover,#cBoxb:hover {
	color: #1e78ff;
    border: 1px solid #eff3f6;
    background: #f3faff;
}

.cBox svg {
  font-size: 3em;margin: 5px;
}
#cBoxa{
	 margin-right: 6px !important;
	 background: #1e78ff;
    color: white;
	
}
#cBoxb{
	 background: #1e78ff;
    color: white;
}

.login-box div>p>a:after {
	content: "|";
	color: #eaeaea;
	padding: 0 0 0 4px;
}
.div-login-box {
	padding: 15px 20px 12px 20px;
}

.login-box fieldset .chk {
	position: relative;
	margin-bottom: 10px;letter-spacing: -1px;
}

.login-box fieldset input[type="checkbox"]:not(old)+label {
	font-size: 13px;
	color: #888;
	margin-right: 12px;
}

.login-box fieldset p {
	position: relative;
/* 	border: 1px solid #ccc;
 */
 border: 1px solid #06b7ec;
 	height: 64px;
	box-sizing: border-box;
}

.login-box fieldset p:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 31px;
	border-top: 1px solid #ccc;
	z-index: 1;
}

.login-box fieldset p input[type="text"] {
	position: absolute;
	left: 0;
	top: 0;
	border: 0;
	height: 31px;
	width: 188px;
	z-index: 2;
}

.login-box fieldset p input[type="password"] {
	position: absolute;
	left: 0;
	bottom: 0;
	border: 0;
	height: 30px;
	width: 188px;
	z-index: 2;
}

.login-box div > p > a {
    font-size: 10px;
    color: #888;
    margin-top: 6px;
    margin-right: 4px;
}


.login-box fieldset p input[type="submit"] {
	position: absolute;
	right: -1px;
	top: -1px;
	width: 70px;
	height: 64px;
background: #1e78ff;
	color: #fff;
	font-weight: 500;
	z-index: 2;
	border: none;
}

.div-login-box-after .proimg_div-after > a {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    font-size: 0;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eaeaea;
}

.div-login-box-after dl dd:nth-of-type(1) a {
    display: inline-block;
    font-size: 13px;
    color: #3e5475;
    margin-top: 6px;
    border-right: 1px solid #ccc;
    padding-right: 7px;
    margin-right: 3px;
}

.div-login-box-after dl dd a {
    word-spacing: -1px;
}

.div-login-box-after dl dd:nth-of-type(1) a:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}

.div-login-box-after ul.dot-list02 {
    position: absolute;
    display: block;    margin: 3px 0;
}

.div-login-box-after ul.dot-list02 li {
    float: left;
    margin-right: 15px;
}

.dot-list02 li {
    background: url(/rpan/common/images/bul_dot2.png?update=20180329) no-repeat left 8px;
    padding-left: 6px;
    line-height: 160%;
    color: #0a84ec;
    font-size: 13px;
    font-weight: 600;
}

.color-rightgray, .color-rightgray a {
    color: #888!important;
}

.login-after-btn {
position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    background: #f0f8ff;
    border-top: 1px solid #0a84ec;
    margin-top: 16px;
    letter-spacing: -1px;
    font-weight: 600;
}
#leftLogin{
	border-right: 1px solid #c4e1f9;
}
.login-after-btn a {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 40px;
color: #1260a2;
}

.login-after-btn a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 1px;
    width: 1px;
}

.login-box {
    height: auto;
}

.div-login-box-after dl dt button {
    border: 1px solid #0a84ec;
    padding: 2px 5px 3px;
    font-size: 12px;
    color: #0a84ec;
    margin-left: 6px;
    background: aliceblue;
}

.div-login-box-after dl dt strong {
    letter-spacing: -1px;
}

.div-login-box-after p > a img {
    width: 100%;
    background-color: #eaeaea;
}

.login-box div>p>span {
	color: #888;
	margin-top: 6px;
}

.login-box div>p * {
	display: inline-block;
	vertical-align: top;
}

input[type="text"], input[type="password"], input[type="tel"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	line-height: 1;
	width: 100%;
	padding: 5px 35px 6px 10px;
	border: 1px solid #ccc;
	background: #fff;
	color: #000;
	vertical-align: middle;
	box-sizing: border-box;
	border-radius: 0;
}

.login-box .social-login {
	margin-top: 7px;
	/* margin-left: 9px */;
	padding: 0;
	border: none;
}

.login-box div>p>span a {
	color: #888;
	font-size: 11px;
	letter-spacing: -1px;
}

.login-box .social-type.naver {
	background-position: -416px 0;
}

.login-box .social-type.kakaotalk {
	background-position: -437px 0;
}

.login-box .social-type.facebook {
	background-position: -458px 0;
}

.login-box .social-type.google {
	margin-right: -4px;
	background-position: -479px 0;
}

.login-box .social-type {
	width: 19px;
	height: 19px;
	margin-left: 1px;
	overflow: hidden;
	text-indent: -9999em;
	background: url(../img/social_type.png) no-repeat;
}
.login-box div>p>span .idforgot:after {
    content: "/";
    color: #eaeaea;
    padding: 0 4px 0 4px;
}

.div-login-box-after .proimg_div-after {
    position: absolute;
    left: 20px;
    top: 10px;
}

.login-out p > a img {
    width: 100%;
    background-color: #eaeaea;
}

.div-login-box-after dl {
    margin-left: 55px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.div-login-box-after {
    padding: 15px 20px 15px 20px;
}


.proimg_div-after p > a {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    font-size: 0;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    background-color: #eaeaea;
}

.proimg_div-after p > a img {
    width: 100%;
    background-color: #eaeaea;
}

.containerNew>.row .col-md-3 .ranking-body ul {
	position: relative;
    z-index: 1;
    margin: 0 0 0;
    padding: 0 20px 16px;
    background: #fff;
}

.containerNew>.row .col-md-3 .ranking-body ul a {
	display: block;
	clear: both;
}

.containerNew>.row .col-md-3 .ranking-body ul li {
	position: relative;
	overflow: hidden;
	line-height: 23px;

}

.containerNew>.row .col-md-3 .ranking-body ul li a span {
	position: relative;
	display: block;
	float: left;
	margin-left: 30px;
}

.containerNew>.row .col-md-3 .ranking-body ul li a i {
	display: block;
	float: left;
	width: 20px;
	text-align: center;
	color: #000;
}

.containerNew>.row .col-md-3 .ranking-body ul li a p {
	float: right;
	position: relative;
	display: block;
	text-align: right;
}

.ranking-nav {
	border-bottom: 1px solid gray;
	width: auto;
	position: relative;
	display: block;
	padding: 5px;
}

.ranking-body {
	overflow: auto;
}

/* #chartContainer {
	height: 300px;
} */

.color-red {
	color: #ff545b !important;
}
.color-norm {
	color: #5e779e !important;
}
.stock-ranking-nav {
	border-bottom: 1px solid gray;
	width: auto;
	position: relative;
	display: block;
	padding: 5px;
}

.tab-content {
	overflow: auto;
}
.nav-tabs .nav-item{
	    letter-spacing: -0.5px;font-weight: 600;
}
.containerNew>.row .col-md-9 .stock-ranking nav .nav a {
	display: block;
	float: left;
	width: 50%;
	line-height: 28px;
	margin-right: -2px;
	padding: 10px;
	color: #495057 !important;    
	border-bottom: 1px solid #0a84ec;
}

.containerNew>.row .col-md-9 .stock-ranking .tab-content #tab1 {
	display: block;
	float: left;
	width: 50%;
	padding: 10px;
}

.containerNew>.row .col-md-9 .stock-ranking .tab-content #tab2 {
	display: block;
	float: right;
	border-left: 1px solid #dee2e6;
	width: 50%;
	padding: 10px;
}

.containerNew>.row .col-md-9 .stock-ranking .tab-content div ul li {
	position: relative;
	overflow: hidden;
	line-height: 23px;
}

.containerNew>.row .col-md-9 .stock-ranking .tab-content div ul li a {
	display: block;
	clear: both;
}

.containerNew>.row .col-md-9 .stock-ranking .tab-content div ul li a span {
	position: relative;
	display: block;
	float: left;
	margin-left: 30px;
}

.containerNew>.row .col-md-9 .stock-ranking .tab-content div ul li a i {
	display: inline-block;
	float: left;
	width: 16px;
	text-align: left;
}

.containerNew>.row .col-md-9 .stock-ranking .tab-content div ul li a p {
	float: right;
	position: relative;
	display: block;
	text-align: right;
}

.containerNew>.row .col-md-9 .community .nav-tabs .nav-item {
	display: block;
	float: left;
	width: 85%;
	line-height: 28px;
	margin-right: -2px;
	padding: 5px;
	color: #495057 !important;
}

.containerNew>.row .col-md-9 .community .community-best {
	display: block;
	float: left;
	width: 50%;
	padding: 10px;
	position: relative;	    border-bottom: 1px solid #0a84ec;
	
}

.containerNew>.row .col-md-9 .community .community-new {
	display: block;
	float: right;
	width: 50%;
	padding: 10px;
	position: relative;	    border-bottom: 1px solid #0a84ec;
	
}

.containerNew>.row .col-md-9 .community .tab-content li {
	position: relative;
	overflow: hidden;
	line-height: 23px;
	
}

.containerNew>.row .col-md-9 .community .tab-content a {
	width: 180px;
	display: inline-block;
	float: left;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #000;
}

.nickname {
	float: right;
	position: relative;
	display: block;
	text-align: right;
	color: #a7753a;
    font-size: 13px;
}

.plus {


	padding: 5px 10px;
    margin: 3px;
    border-radius: 0 !important;
    background: #8ca5b9;
    border: 1px solid #e8ebee; 
}

.containerNew>.row .col-md-3 .faq .nav-tabs .nav-item {
	display: block;
	float: left;
	width: 75%;
	line-height: 28px;
	margin-right: -2px;
	padding: 5px;
	color: #495057 !important;
}

.containerNew>.row .col-md-3 .faq .tab-content li {
	position: relative;
	overflow: hidden;
	line-height: 23px;
	padding: 3px;
}
.faq{
	padding: 10px;
}
.news-nav {
    border-bottom: 1px solid #1e78ff;
    position: relative;
    display: block;
    clear: both;
    line-height: 28px;
}

.news-ranking{
	padding: 2px 7px 5px;
}
#pills-tab {
    position: initial;
    top: 10px;
    left: 0;
    padding: 8px 10px 2px;
}

.nav-link {
padding: 5px 10px 3px 5px; font-weight: 600;
}

.news-ranking .tab-content .tab-pane .headline {
	border-bottom: 1px solid #dee2e6;
	padding: 15px 20px 15px 20px;
	margin-bottom: 8px;
}

.news-ranking .tab-content .tab-pane .headline a {
	display: table;
	width: 100%;
	color: #000;
	table-layout: fixed;
}

.news-ranking .tab-content .tab-pane .headline .news-img {
	display: table-cell;
	width: 180px;
	height: 110px;
	overflow: hidden;
	padding-right: 10px;
}

.news-ranking .tab-content .tab-pane .headline .news-img img {
	width: 100%;
	height: 100%;
}

.news-ranking .tab-content .tab-pane .headline p {
	display: table-cell;
	height: 90px;
	vertical-align: top;
	line-height: 100%;
}

.news-ranking .tab-content .tab-pane .headline strong {
	display: block;
	line-height: 19px;
	font-size: 16px;
	margin-bottom: 15px;
	padding-top: 4px;
	max-height: 40px;
	overflow: hidden;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news-ranking .tab-content .tab-pane .headline p span {
	display: block;
	height: 34px;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.news-ranking .tab-content .tab-pane .headline p mark {
	display: inline-block;
	color: #888;
	font-size: 13px;
}

.news-ranking .tab-content .tab-pane .headline p em {
	display: inline-block;
	color: #888;
	font-size: 13px;
}

.news-ranking .tab-content .tab-pane .headline p em:before {
	content: "|";
	padding-left: 5px;
	margin-right: 7px;
	color: #eaeaea;
}

.news-ranking .tab-content .tab-pane ul {
	padding: 0 20px 20px;
}

.news-ranking .tab-content .tab-pane ul li {
	white-space: nowrap;
}

.news-ranking .tab-content .tab-pane ul li a {
	display: inline-block;
	color: #000;
	max-width: 73%;
	margin-right: 16px;
	overflow: hidden;
	line-height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	font-size: 13px;
}

.news-ranking .tab-content .tab-pane ul li mark {
	display: inline-block;
	margin-left: 0;
	color: #888;
	vertical-align: middle;
	font-size: 13px;
}

.news-ranking .tab-content .tab-pane ul li em {
	display: inline-block;
	color: #888;
	vertical-align: middle;
	font-size: 13px;
}

.news-ranking .tab-content .tab-pane ul li em:before {
	content: "|";
	padding-left: 5px;
	margin-right: 7px;
	color: #eaeaea;
}



[class*="tbl_home_"] thead {
    overflow: hidden;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
[class*="tbl_home_"]  tbody tr.up td {
    color: #e00400;
}
[class*="tbl_home_"]  tbody td {
    color: #666;
    font-family: tahoma,sans-serif;
    text-align: right;
    font-size: 12px;
}
[class*="tbl_home_"]  tbody th a {
    color: #5f5f5f;
    white-space: nowrap;
    font-size: 12px;
}
[class*="tbl_home_"]  #topRank th {
    height: 22px;
    padding: 5px 0 5px 0;
    font-weight: normal;
    text-align: left;
}
[class*="tbl_home_"]  .rank-table th {
    height: 22px;
    padding: 5px 0 5px 0;
    font-weight: normal;
    text-align: left;
}
[class*="tbl_home_"]  tbody th em {
    margin-right: 5px;
    color: #6879ab;
    font-family: tahoma;
    font-size: 14px;
    font-weight: bold;
}

[class*="tbl_home_"]  tbody tr.down td {
    color: #003ace;
}
@media only screen and (max-width: 576px){
[class*="tbl_home_"] tbody th em {
    font-size: 9px;
}
}
@media only screen and (max-width: 576px){
[class*="tbl_home_"]  tbody td {
    font-size: 9px;
}
}
@media only screen and (max-width: 576px){
[class*="tbl_home_"] tbody th a {
	 font-size: 9px;
	 
	}
}
[class*="tbl_home_"]  tbody td em.bu_p {
    margin: -1px 0 1px;
    _margin: 1px 0 -1px;
    vertical-align: middle;
    
}
.bu_pup2 {
    width: 7px !important;
    height: 11px !important;
    background-position: 0 -40px;
}
.bu_p {
    display: inline-block !important;
    background: url(https://ssl.pstatic.net/static/nfinance/img/spr_bu.gif) no-repeat;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.bu_pdn {
    width: 7px !important;
    height: 6px !important;
    background-position: 0 -80px;
}
.tbl_home_left, .tbl_home_right{
	width: 100%;
}
.ranking .ranking-tab {
    position: relative;
    display: block;
    padding-left: 20px;
}
.ranking .ranking-tab:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #eaeaea;
    z-index: 1;
}
.ranking .ranking-tab a.selected {
     color: #0a84ec;
    border-bottom: 1px solid #0a84ec;
    font-weight: 600;
}
 .ranking .ranking-tab a {
    color: #000;
    letter-spacing: -1px;
}
 .ranking .ranking-tab a {
    position: relative;
    z-index: 2;
    display: inline-block;
    color: #000;
    height: 48px;
    line-height: 48px;
    margin-right: 10px;
}










@media only screen and (max-width: 979px){
	
.col-md-9,.col-md-3 {
    max-width: 100% !important;
    flex: none !important;
    padding: 0 !important;
}
}