@charset "UTF-8";
/* header style start */
.header {position: relative;z-index: 7;background: #fff;box-sizing: border-box;}
.m-container {position: relative;max-width: 1260px;margin: 0 auto;padding: 20px 0 30px 0;height: 100%;}
.m-contents {position: relative;margin: 0 auto;z-index: 7;padding-bottom: 10px;max-width: 1260px;}
@media only screen and (max-width:1599px) {.m-container {padding-right: 0}}
@media only screen and (max-width: 1324px) {
	.m-container {padding: 10px 20px 40px 20px;}
	.m-cont01 {width: auto;height: 1623px;min-width: auto;margin-right: 310px;position: static;}.m-contents .side-area {right: 0;}
	.m-contents .side-area .ranking {height: 370px}
}
.m-cont01 {height: 1605px;margin-right: 310px;position: relative;left: 0;}
.m-contents .side-area {position: absolute;top: 0;right: 0;width: 300px;}
.fa-users {padding-right: 5px;color: gray;}
.bg-light {background-color: white !important;border-bottom: 1px solid gray;}
.btn-outline-success {color: gray;border-color: gray;}
.btn-outline-success:hover {color: #fff;background-color: gray;border-color: gray;}
.navbar {padding: 0.5rem 1rem;}
.justify-content-end {border-bottom: 1px solid gray;}
.top-nav {font-size: 0.8rem;padding: 0.5rem 1rem;background-color: white;}
#top-nav-font {color: gray;}
/* header style end */

/* article start */
/* 상단 메뉴 */
#menu-bar{margin-left: 368px;}
.mypage01, .mypage02, .mypage03, .mypage04{width: 285px;}
.row{margin-top: -50px;}
#menu-bar ul{display: -webkit-box;}
.container{margin-top: 30px; margin-bottom: 30px;border: 1px #5a6268 solid; padding-left: 30px; padding-right: 30px;}
.allBody{margin-top: 40px; margin-bottom: 40px;}
@media only screen and (max-width: 1324px) {
.allBody {padding: 10px 20px 40px 20px; right: 0; height:370px;width: auto;height: 1623px;min-width: auto;margin-right: 310px;position: static;}}
 .buttons{display: -webkit-box;}
 .write, .comment{width: 100px; height: 40px; font-size: 16px;}
 .write{margin-right: 5px;}
 .comment{background-color:#6c757d; border: none;}
 .comment:hover{background-color:#5a6268;}
 .btn-block+.btn-block{margin-top: 0em;}
 .sideBar{margin-top: 75px;}
 .sideBarMenuSelect{color: rgb(255, 255, 255);line-height: 2.5em; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: #5a6268; border: none;}
 .sideBarMenuNonSelect:hover{color: #fff;border: none;line-height: 2.5em; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: #5a6268; border: none;}
 			/* table start */
 .table, .table-bordered{text-align: center;}
 /* 테이블 칸 간격 */
 .no{width: 57px;}.checkno{width: 57px;}.writer{width:155px;}.date{width: 155px;}.views{width: 60px;}.likes{width: 60px;}
 .underSearchForm{margin-left: 368px; }
 .custom-control{margin-left: 9px;}
 .comment-remove{width: 75px; height: 40px; font-size: 16px; margin-left: 332px;}
 .remove{width: 75px; height: 40px; font-size: 16px; margin-left: 287px;}
 .dropdown-toggle{border: 1px solid #ced4da; border-radius: .25rem;background-clip: padding-box; height: 38px; font-size: 15px; color: #495057;}
 .dropdown-toggle:hover{color:#28283c;}
 .dropdown-item{font-size: 15px;}
td > a{cursor:pointer}
.paging {clear: both;padding: 0 0 30px 0;text-align: center;position: relative;}
.paging-body {display: inline-block;padding-left: 0;border-radius: 4px; }
 			/* table end*/
/* article end */

/* footer start */
.footer_div{border-top:1px solid gray; padding-top: 20px; padding-bottom: 20px;}
.footer_info{text-align: center;}
.footer_info A:link{text-decoration:none;color:#000000;}
.footer_info A:visited{text-decoration:none;color:#000000;}
.footer_info A:active{text-decoration:none;color:#000000;}
.footer_info A:hover{text-decoration:none;color:#000000;}
/* footer end */
