@charset "UTF-8";

/*--------------------------- start 공통 적용 css ---------------------------*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, a {
    font-family: 'Noto Sans KR', sans-serif;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small,
	var, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption,
	tbody, tfoot, thead, tr, article, aside, canvas, details, figcaption,
	figure, footer, header, hgroup, menu, nav, section, summary, time,
	audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 14px;
	background: transparent;
	list-style: none;
	box-sizing: border-box;
	word-break: break-all;
}

body {
	line-height: 1;
	-webkit-text-size-adjust: none;
	background: #eff3f6;
	color: #000;
}

span, em, mark, strong, b, label {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
	box-sizing: border-box;
}

p {
	line-height: 160%;
}

ol, ul {
	list-style: none;
}

a, a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

body.member {
	background: #fff;
}
em, i {
    font-style: normal;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
legend, caption {
    font-size: 0;
    overflow: hidden;
    text-indent: -9999999px;
    height: 0;
    width: 0;
    line-height: 0;
}
td, th {
    word-break: break-all;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

input[type="text"], input[type="password"], input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    width: 100%;
    padding: 5px 35px 6px 10px;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 0;
}
.color-red {
	color: #f6212a !important;
}

/*--------------------------- end 공통 적용 css ---------------------------*/


/*
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
   pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small,
   var, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption,
   tbody, tfoot, thead, tr, article, aside, canvas, details, figcaption,
   figure, footer, header, hgroup, menu, nav, section, summary, time,
   audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   font-size: 14px;
   background: transparent;
   list-style: none;
   box-sizing: border-box;
   word-break: break-all;
}

span, em, mark, strong, b, label {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   background: transparent;
   list-style: none;
   box-sizing: border-box;
}

em, i {
   font-style: normal;
}

a, a:link, a:visited, a:active, a:hover {
   text-decoration: none;
}

p {
    line-height: 160%;
}

.table td, .table th {
    padding: 6px;
}
tr td button{
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
} 
.table{
	margin-bottom: 0;
}
*/
.container {
   padding: 20px 0 30px 0;
}

.container>.row .col-md-9 .chartdata {
   border: 1px solid gray;
   padding: 10px;
   margin-bottom: 10px;
}

em, address {
   font-style: normal;
}

input, label, button {
    vertical-align: middle;
}

.row {
   margin: 0;
   padding: 20px;
}

.carousel-control-prev, .carousel-item {
   background: gray;
   text-align: center;
   font-size: 16px;
   padding: 10px;
}

.carousel-inner .carousel-item a {
   color: white;
}

.stock-deal-nav {
   border-bottom: 1px solid gray;
   font-size: 24px;
   line-height: 30px;
   padding: 10px;
}

.chartdata, .stock-price-chart, .stock-deal {
   padding: 0;
   border: 1px solid gray;
}

#chartContainer {
   height: 300px;
}

.stock-search-btn {
   float: right;
}

.chartdata-form {
   position: relative;
   overflow: hidden;
   line-height: 23px;
}

.chartdata-nav, .chartdata-body, .stock-price-chart {
   padding: 10px;
}

.stock-buying {
   position: relative;
   height: auto;
   padding: 10px;
   color: #666;
   font-size: 13px;
   background: #fff;
   border: 1px solid #dcdcdc;
   border-top: 0;
}

.input-area {
   margin-top: 15px;
}

.input-area>div {
   margin-top: 8px;
}

.detail label {
   display: inline-block;
   margin: -2px 9px 0 0;
   font-weight: bold;
}

.detail input {
   width: 69px;
   background-color: rgb(255, 255, 255);
   text-align: right !important;
}

.detail input[type=text] {
   height: 25px;
   padding: 0 9px;
   border: 1px solid #bdbdbd;
   background: #fff;
   color: #666;
   vertical-align: middle;
   line-height: 23px;
}

.buying-check {
   float: none;
   margin-left: 6px;
}

.buying-check .buying-check-btn {
   border: 1px solid #bec6c9;
   background: #e7ecf2;
   color: #474c52;
}

a.btnS {
   min-width: 32px;
   padding: 1px 7px 2px;
   color: #fff;
   font-size: 12px;
}

a.btnStyle {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
}

a.btnSum {
   border: 1px solid #7f7f7f;
   background: #fff;
   color: #666;
   text-align: right;
}

a.btnSum:before {
   content: "+";
}

.sumArea {
   position: relative;
   left: 0;
   overflow: hidden;
   padding: 0 25px;
   
}

.sumArea .text {
   float: left;
   display: inline-block;
   margin-top: 21px;
   line-height: 22px;
   font-size: 12px;
}

.sumArea .text em {
   font-size: 18px;
}

.sumArea .text strong {
   color: #ca2623;
   font-size: 18px;
   font-weight: bold;
}

.sumArea .text strong span {
   font-weight: normal;
}

.tableDesc {
   margin-top: 5px;
}

.dotList {
   margin-top: 6px;
   color: #666;
}

.dotList li {
   color: #666;
   line-height: 16px;
}

.dotList li {
   margin-top: 2px;
   margin-left: 15px;
   color: #888;
   font-size: 12px;
   line-height: 19px;
   list-style: disc;
}
.stock-buying .choice{
    margin-top: 5px;
}
.choice input[type=radio]{
    margin-left: 14px;
}
.choice label {
    display: inline-block;
    margin: -2px 0 0 -1px;
}


.layerPopup, .layerPopup-buying-cancel{
font-family: "맑은고딕","Malgun Gothic","돋움", "dotum", "verdana", sans-serif;
line-height: 20px;
letter-spacing: -1px;
font-size: 13px;
margin: 0;
padding: 0;
position: relative;
font-weight: normal;
color: #767676;
display: none;
right: 330px;
}
.layerPopup-buying-cancel{
font-family: "맑은고딕","Malgun Gothic","돋움", "dotum", "verdana", sans-serif;
line-height: 20px;
letter-spacing: -1px;
font-size: 13px;
margin: 0;
padding: 0;
position: relative;
font-weight: normal;
color: #767676;
display: none;
right: 310px;
}
.layerStock {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 3px;
    padding: 20px 15px;
    width: 531px;
    background: #fff;
    border: 2px solid #474747;
}
 .layerBox h1 {
    color: #0078af;
    font-size: 14px;
}	
 .layerStock .conSection {
    margin-top: 15px;
}
 .layerStock .conSection .stockBox {
    width: auto;
}
.stockBox {
    position: relative;
    z-index: 9;
    width: 885px;
    padding: 4px 75px 4px 0;
    border-top: 1px solid #c3c3c3;
}
.stockBox td.title {
    height: 37px;
    color: #393939;
    font-size: 13px;
    font-weight: bold;
}
.stockBox td {
    vertical-align: middle;
}
input[type=text], input[type=password], select, textarea {
    height: 25px;
    padding: 0 9px;
    border: 1px solid #bdbdbd;
    background: #fff;
    color: #666;
    font-family: "맑은고딕","Malgun Gothic","돋움", "dotum", "verdana", "sans-serif";
    vertical-align: middle;
    line-height: 23px;
}
.alignR {
    text-align: right!important;
}
.stockBox .btnSearch {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
}
a.btnWGray {
    border: 1px solid #bec6c9;
    background: #e7ecf2;
    color: #474c52;
}
a.btnS {
    min-width: 32px;
    padding: 1px 7px 2px;
    color: #fff;
    font-size: 12px;
}
a.btnStyle {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.layerPopup .layerBox table {
    margin-top: 0;
}
.tableDefault {
    width: 100%;
    margin-top: 13px;
    border-top: 2px solid #7d7d7d;
    border-bottom: 1px solid #e6e6e6;
}
.tableSmall tbody td.title {
    padding: 5px;
    color: #666;
    font-weight: bold;
    text-align: left;
    background: #f5fafd;
}
.layerBox a.popClose {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    background: url(../img/btn_layerclose.png) no-repeat left top;
}
.tableDefault thead th {
    padding: 7px 0 8px;
    border-left: 1px solid #e6e6e6;
    background: #f5fafd;
    text-align: center;
}
.tableDefault tbody td {
    padding: 7px 0 8px;
    border-left: 1px solid #e6e6e6;
    text-align: center;
}
.tableSmall thead th {
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
}
.tableCol tbody td, .tableCol tfoot td {
    text-align: center;
}
.tableDefault td {
    height: 30px;
    padding: 2px 0;
    border-top: 1px solid #e6e6e6;
    background: #fff;
}
.tableCol thead th.first {
    border-left: none;
}
.tableCol tbody td.first {
    border-left: none;
}
.tableCol tbody td .tdArea, .tableCol tfoot td {
    padding: 3px 8px !important;
    overflow: hidden;
}
#mySelect:disabled {
  background: #ccc;
}