@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, a {
    font-family: 'Noto Sans KR', sans-serif;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
   pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small,
   var, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption,
   tbody, tfoot, thead, tr, article, aside, canvas, details, figcaption,
   figure, footer, header, hgroup, menu, nav, section, summary, time,
   audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   font-size: 14px;
   background: transparent;
   list-style: none;
   box-sizing: border-box;
   word-break: break-all;
}

span, em, mark, strong, b, label {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   background: transparent;
   list-style: none;
   box-sizing: border-box;
}

em, i {
   font-style: normal;
}

a, a:link, a:visited, a:active, a:hover {
   text-decoration: none;
}

p {
    line-height: 160%;
}

.table td, .table th {
    padding: 6px;
}
tr td button{
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
} 
.table{
	margin-bottom: 0;
}
@media only screen and (max-width: 576px){
.stock-btn{
	padding: 3px;
	font-size: 10px;
	margin-bottom: 1.5px;
}
}
.containerNew{
	position: relative;
    max-width: 1260px;
    height: 100%;
    padding: 20px 0 100px 0;
    margin: 0 auto;
}
@media (max-width: 979px)
.containerNew {
    padding-top: 104px;
}
@media only screen and (max-width: 979px)
.containerNew {
    padding: 0;
    padding-bottom: 170px;
}

em, address {
   font-style: normal;
}

input, label, button {
    vertical-align: middle;
}

.row {
   margin: 0;
}

.carousel-control-prev, .carousel-item {
   background: gray;
   text-align: center;
   font-size: 16px;
   padding: 10px;
}

.carousel-inner .carousel-item a {
   color: white;
}

.stock-deal-nav {
   border-bottom: 1px solid gray;
   font-size: 24px;
   line-height: 30px;
   padding: 10px;
   font-weight: 600;
}


#chartContainer {
   height: 300px;
}

.stock-search-btn {
   float: right;
}

.chartdata-form {
   position: relative;
   overflow: hidden;
   line-height: 23px;
}
.col-md-9, .col-md-3{
    padding-right: 5px;
    padding-left: 5px;

}
.col-md-9>div {
    position: relative;
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #dddddd;
}
.col-md-3>div {
    position: relative;
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #dddddd;
}

.stock-buying {
   position: relative;
   height: auto;
   padding: 10px;
   color: #666;
   font-size: 13px;
   background: #fff;
}
.stock-deal-button{
    position: absolute;
    right: 0;
    
}
.btnOverInfo {
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    padding-left: 23px;
    color: #333;
}
.number {
    margin-left: 8px;
    color: #333;
}
.number em {
    font-size: 25px;
    line-height: 26px;
}
.down {
    color: #1a64d2 !important;
}
@media only screen and (max-width: 576px){
.stock-deal-button {
    position: relative;
    margin-top: 10px;
    width: 100%;
}
}
@media only screen and (max-width:960px){
.stock-deal-button {
    position: relative;
    margin-left: 0;
    margin-top: 10px
}
}
.form-control{
	width: 30%;
	
	margin-right: .5rem!important;
}
@media (min-width: 576px){
	
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: .5rem!important;
}
}
.chartdata-nav{
	width: 100%;
	margin: 30px 0 30px 0;
	padding-right: 5px;
    padding-left: 5px;
}
.input-area {
   margin-top: 15px;
}

.input-area>div {
   margin-top: 12px;
}

.detail label {
   display: inline-block;
   margin: -2px 9px 0 0;
   font-weight: bold;
}

.detail input {
   width: 69px;
   background-color: rgb(255, 255, 255);
   text-align: right !important;
}

.detail input[type=text] {
   height: 25px;
   padding: 0 9px;
   border: 1px solid #bdbdbd;
   background: #fff;
   color: #666;
   vertical-align: middle;
   line-height: 23px;
}

.buying-check {
   float: none;
   margin-left: 6px;
}

.buying-check .buying-check-btn {
   border: 1px solid #bec6c9;
   background: #e7ecf2;
   color: #474c52;
}

a.btnS {
   min-width: 32px;
   padding: 1px 7px 2px;
   color: #fff;
   font-size: 12px;
}

a.btnStyle {
   display: inline-block;
   text-align: center;
   vertical-align: middle;
}

a.btnSum {
   border: 1px solid #7f7f7f;
   background: #fff;
   color: #666;
   text-align: right;
}

a.btnSum:before {
   content: "+";
}

.sumArea {
   position: relative;
   left: 0;
   overflow: hidden;
   padding: 0 25px;
   
}

.sumArea .text {
   float: left;
   display: inline-block;
   margin-top: 21px;
   line-height: 22px;
   font-size: 12px;
}

.sumArea .text em {
   font-size: 18px;
}

.sumArea .text strong {
   color: #ca2623;
   font-size: 18px;
   font-weight: bold;
}

.sumArea .text strong span {
   font-weight: normal;
}

.tableDesc {
   margin-top: 5px;
}

.dotList {
   margin-top: 6px;
   color: #666;
}

.dotList li {
   color: #666;
   line-height: 16px;
}

.dotList li {
   margin-top: 2px;
   margin-left: 15px;
   color: #888;
   font-size: 12px;
   line-height: 19px;
   list-style: disc;
}
.stock-buying .choice{
    margin-top: 5px;
}
.choice input[type=radio]{
    margin-left: 14px;
}
.choice label {
    display: inline-block;
    margin: -2px 0 0 -1px;
}
.layerStock {
    z-index: 1;
    position: relative;
    left: 0;
    top: 3px;
    padding: 20px 15px;
    width: 100%;
    background: #fff;
    border: 2px solid #474747;
}
 .layerBox h1 {
    color: #0078af;
    font-size: 14px;
}	
 .layerStock .conSection {
    margin-top: 15px;
}
 .layerStock .conSection .stockBox {
    width: auto;
}
.stockBox {
    position: relative;
    z-index: 9;
    width: 885px;
    padding: 4px 75px 4px 0;
    border-top: 1px solid #c3c3c3;
}
.stockBox td.title {
    height: 37px;
    color: #393939;
    font-size: 13px;
    font-weight: bold;
}
.stockBox td {
    vertical-align: middle;
}
input[type=text], input[type=password], select, textarea {
    height: 25px;
    padding: 0 9px;
    border: 1px solid #bdbdbd;
    background: #fff;
    color: #666;
    font-family: "맑은고딕","Malgun Gothic","돋움", "dotum", "verdana", "sans-serif";
    vertical-align: middle;
    line-height: 23px;
}
.alignR {
    text-align: right!important;
}
.stockBox .btnSearch {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
}
a.btnWGray {
    border: 1px solid #bec6c9;
    background: #e7ecf2;
    color: #474c52;
}
a.btnS {
    min-width: 32px;
    padding: 1px 7px 2px;
    color: #fff;
    font-size: 12px;
}
a.btnStyle {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.layerPopup .layerBox table {
    margin-top: 0;
}
.tableDefault {
    width: 100%;
    margin-top: 13px;
    border-top: 2px solid #7d7d7d;
    border-bottom: 1px solid #e6e6e6;
}
.tableSmall tbody td.title {
    padding: 5px;
    color: #666;
    font-weight: bold;
    text-align: left;
    background: #f5fafd;
}
.layerBox a.popClose {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    background: url(../img/btn_layerclose.png) no-repeat left top;
}
.tableDefault thead th {
    padding: 7px 0 8px;
    border-left: 1px solid #e6e6e6;
    background: #f5fafd;
    text-align: center;
}
.tableDefault tbody td {
    padding: 7px 0 8px;
    border-left: 1px solid #e6e6e6;
    text-align: center;
}
.tableSmall thead th {
    padding: 5px 0;
    text-align: center;
    font-size: 12px;
}
.tableCol tbody td, .tableCol tfoot td {
    text-align: center;
}
.tableDefault td {
    height: 30px;
    padding: 2px 0;
    border-top: 1px solid #e6e6e6;
    background: #fff;
}
.tableCol thead th.first {
    border-left: none;
}
.tableCol tbody td.first {
    border-left: none;
}
.tableCol tbody td .tdArea, .tableCol tfoot td {
    padding: 3px 8px !important;
    overflow: hidden;
}
#mySelect:disabled {
  background: #ccc;
}
.tableDesc{
	border: none !important;
	margin: 0;
}
.nav-item-last a{
	border-right: none !important;
}
.stock-nav-tab li {
    width: 33.333%;
}
.stock-nav-tab li.selected a, .stock-nav-tab li:active>a, .stock-nav-tab li.active>a {
    z-index: 3;
    background: #fff;
    line-height: 50px;
    color: #5a6268 !important;
    font-weight: bold;
}
[class*="stock-nav-tab"] li.selected a:after, li:active>a, li.active>a {
    border-bottom: 2px solid #5a6268;
}
[class*="stock-nav-tab"] li a {
    position: relative;
    z-index: 1;
    display: block;
    line-height: 50px;
    text-align: center;
    color: #000;
    border-right: 1px solid #eaeaea;
    background: #f9f9f9;
    box-sizing: border-box;
}
.nav-link {
	padding: 0;

	}
@media only screen and (max-width: 1599px){
	
.stock-deal {
    margin: 0 auto 100px;
}
}
.layerPopup {
    position: relative;
    font-weight: normal;
    color: #767676;
}
}
.layerPopup .layerBox {
    display: none;
    position: absolute;
    top: 23px;
    left: 0;
    z-index: 2;
    width: 300px;
    padding: 20px 15px;
    border: 2px solid #474747;
    background-color: #fff;
    text-align: left;
}
.stock-deal-control{
	float: right;
	width: 332.625px;
}
@media only screen and (max-width: 1260px){
.stock-deal-control {
	width: 100%;
	}
}
@media only screen and (max-width: 979px){
.stock-deal-control {
	width: 100%;
	}
}
.stock-deal-rank{
	float: left;
	width: 50%;
}
.stock-price-chart{
	border: none !important;
}

.stock-chart-table{
	width: 100%;
	border: 1px solid #dddddd;
}
#stockName {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #d5d5d5;
    padding: 13px;
}


[data-tooltip-text]:hover {
	position: relative;
}
.upper-text, .now-text, .Lower-text, .inside-text, .inside-up-text, .inside-down-text{
	border-right: 1px solid #dddddd;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}
.table-border{
	border-bottom: 1px solid #dddddd;
	background: #f5fafd;
	font-size: 16px;
	padding: 10px;
	 text-align: center;
}
.Lower-text{
	border-top: 1px solid #dddddd;
	background: #fcf2f2;
}
.inside-down-text{
	background: #fcf2f2;
	color: #a3a3a3;
}
.upper-text{
	border-bottom: 1px solid #dddddd;
	background: #ecf2fc;
}
.inside-up-text{
	background: #ecf2fc;
	color: #a3a3a3v;
}
.now-text{
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	background: #eaeaea;
	font-weight: 600;
}
#m-price, #price{
	font-weight: 600;
}
#trad_frm button{
	border: none;
	padding: 0;
	width: 100%;
	height: 35px;"
}
 

[data-tooltip-text]:after {
	-webkit-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: bottom .3s ease-in-out, opacity .3s ease-in-out;
	transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

	background-color: rgba(0, 0, 0, 0.8);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
  color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
	padding: 7px 12px;
	position: absolute;
	width: 240px;
	min-width: 50px;
	max-width: 300px;
	word-wrap: break-word;

	z-index: 9999;

	opacity: 0;
	left: -9999px;
  top: 90%;
	
	content: attr(data-tooltip-text);
}

[data-tooltip-text]:hover:after {
	top: 130%;
	left: 0;
	opacity: 1;
}

.aside_area{
    float: left;
    width: 592px;
    margin-right: 10px;
    padding: 10px;
    height: 230px;
}
.h_popular-left {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    width: 50%;
    float: left;
    border-bottom: 2px solid #dddddd;
}
.h_popular-right {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    width: 50%;
    float: right;
    border-bottom: 2px solid #dddddd;
}
.tbl_home_left {
    width: 48.5%;
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
    margin-right:6px;
    float: left;
}
.tbl_home_right {
    width: 49%;
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
    border-left: 1px solid #dddddd;
    float: right;
}

caption {
    overflow: hidden;
    padding: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

[class*="tbl_home_"] thead {
    overflow: hidden;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
[class*="tbl_home_"]  tbody tr.up td {
    color: #e00400;
}
[class*="tbl_home_"]  tbody td {
    color: #666;
    font-family: tahoma,sans-serif;
    text-align: right;
    font-size: 12px;
}
[class*="tbl_home_"]  tbody th a {
    color: #5f5f5f;
    white-space: nowrap;
    font-size: 12px;
}
[class*="tbl_home_"]  #topRank th {
    height: 22px;
     padding: 5px 0 5px 5px;
    font-weight: normal;
    text-align: left;
}
[class*="tbl_home_"]  .rank-table th {
    height: 22px;
    padding: 5px 0 5px 10px;
    font-weight: normal;
    text-align: left;
}
[class*="tbl_home_"]  tbody th em {
    margin-right: 5px;
    color: #6879ab;
    font-family: tahoma;
    font-size: 14px;
    font-weight: bold;
}

[class*="tbl_home_"]  tbody tr.down td {
    color: #003ace;
}
@media only screen and (max-width: 576px){
[class*="tbl_home_"] tbody th em {
    font-size: 9px;
}
}
@media only screen and (max-width: 576px){
[class*="tbl_home_"]  tbody td {
    font-size: 9px;
}
}
@media only screen and (max-width: 576px){
[class*="tbl_home_"] tbody th a {
	 font-size: 9px;
	 
	}
}
[class*="tbl_home_"]  tbody td em.bu_p {
    margin: -1px 0 1px;
    _margin: 1px 0 -1px;
    vertical-align: middle;
    
}
.bu_pup2 {
    width: 7px !important;
    height: 11px !important;
    background-position: 0 -40px;
}
.bu_p {
    display: inline-block !important;
    background: url(https://ssl.pstatic.net/static/nfinance/img/spr_bu.gif) no-repeat;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.bu_pdn {
    width: 7px !important;
    height: 6px !important;
    background-position: 0 -80px;
}
@media only screen and (max-width: 1260px){
.aside_area {
	width: 100%;
	}
}

#nowStock{
	margin-left: 10px;
	padding: 0;
}
.mainsame{
	font-size: 25px;
	line-height: 26px;
	color: #333 !important;
}
.mainup{
	font-size: 25px;
	line-height: 26px;
	color: #ca2623 !important;
}
.maindown {
	font-size: 25px;
    color: #1a64d2 !important;
}
.maindown-num {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 600;
}
.mainup-num {
	margin-left: 5px;
	font-size: 14px;
	font-weight: 600;
}
.m-stock-price-chart{
	display: none;
}

@media screen and (max-width: 576px) {
 	.col-md-9 {
		display: -webkit-box;
		display: -moz-box;
		display: box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
	}
	.aside_area {
		-webkit-box-ordinal-group: 4;
		-moz-box-ordinal-group: 4;
		box-ordinal-group: 4;
	}
	.stock-deal-control {
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		box-ordinal-group: 3;
	}
	.m-stock-price-chart{
	display: block;
	border: none !important;
	}
	.stock-price-chart{
	display: none;
	}
	.btnOverInfo{
	font-size: 18px;
	}
	.mainsame{
	font-size: 18px;
	}
	.mainup{
	font-size: 18px;
	
	}
	.maindown{
	font-size: 18px;
	}
}