@charset "UTF-8";
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small,
	var, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption,
	tbody, tfoot, thead, tr, article, aside, canvas, details, figcaption,
	figure, footer, header, hgroup, menu, nav, section, summary, time,
	audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 14px;
	background: transparent;
	list-style: none;
	box-sizing: border-box;
	word-break: break-all;
}

span, em, mark, strong, b, label {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    box-sizing: border-box;
}

em, i {
    font-style: normal;
}

.container {
	padding: 20px 0 30px 0;
}

.container>.row .col-md-9 .chartdata {
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;
}

.col-md-9, .col-md-3 {
	padding-right: 5px;
	padding-left: 5px;
}

.login-box {
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;
}

ul i {
	list-style: none;
	margin: 0;
	padding: 0;
	font-style: normal;
}

.container>.row .col-md-3 .ranking-body ul {
	position: relative;
	font-style: normal;
	padding: 0;
	margin: 0;
}

.container>.row .col-md-3 .ranking-body ul a {
	display: block;
	clear: both;
}

.container>.row .col-md-3 .ranking-body ul li {
	position: relative;
	overflow: hidden;
	line-height: 23px;
	padding: 5px;
}

.container>.row .col-md-3 .ranking-body ul li a span {
	position: relative;
	display: block;
	float: left;
	margin-left: 30px;
}

.container>.row .col-md-3 .ranking-body ul li a i {
	display: block;
	float: left;
	width: 20px;
	text-align: center;
	color: #000;
}

.container>.row .col-md-3 .ranking-body ul li a p {
	float: right;
	position: relative;
	display: block;
	text-align: right;
}

.ranking {
	border: 1px solid gray;
	margin-bottom: 10px;
}

.ranking-nav {
	border-bottom: 1px solid gray;
	width: auto;
	position: relative;
	display: block;
	padding: 5px;
}

.ranking-body {
	overflow: auto;
}

#chartContainer {
	height: 300px;
}

.color-red {
	color: #ff545b !important;
}

.stock-ranking-nav {
	border-bottom: 1px solid gray;
	width: auto;
	position: relative;
	display: block;
	padding: 5px;
}

.stock-ranking {
	border: 1px solid gray;
	margin-bottom: 10px;
	overflow: hidden;
}

.nav-tabs {
	
}

.tab-content {
	overflow: auto;
}

.container>.row .col-md-9 .stock-ranking nav .nav a {
	display: block;
	float: left;
	width: 50%;
	line-height: 28px;
	margin-right: -2px;
	padding: 5px;
	color: #495057 !important;
}

.container>.row .col-md-9 .stock-ranking .tab-content #tab1 {
	display: block;
	float: left;
	width: 50%;
	border-right: 1px solid #dee2e6;
	padding: 10px;
}

.container>.row .col-md-9 .stock-ranking .tab-content #tab2 {
	display: block;
	float: right;
	width: 50%;
	padding: 10px;
}

.container>.row .col-md-9 .stock-ranking .tab-content div ul li {
	position: relative;
	overflow: hidden;
	line-height: 23px;
}

.container>.row .col-md-9 .stock-ranking .tab-content div ul li a {
	display: block;
	clear: both;
}

.container>.row .col-md-9 .stock-ranking .tab-content div ul li a span {
	position: relative;
	display: block;
	float: left;
	margin-left: 30px;
}

.container>.row .col-md-9 .stock-ranking .tab-content div ul li a i {
	display: inline-block;
	float: left;
	width: 16px;
	text-align: left;
}

.container>.row .col-md-9 .stock-ranking .tab-content div ul li a p {
	float: right;
	position: relative;
	display: block;
	text-align: right;
}

.community {
	border: 1px solid gray;
	overflow: auto;
	margin-bottom: 10px;
}

.container>.row .col-md-9 .community .nav-tabs .nav-item {
	display: block;
	float: left;
	width: 85%;
	line-height: 28px;
	margin-right: -2px;
	padding: 5px;
	color: #495057 !important;
}

.container>.row .col-md-9 .community .community-best {
	display: block;
	float: left;
	width: 50%;
	padding: 10px;
	position: relative;
}

.container>.row .col-md-9 .community .community-new {
	display: block;
	float: right;
	width: 50%;
	padding: 10px;
	position: relative;
}

.container>.row .col-md-9 .community .tab-content li {
	position: relative;
	overflow: hidden;
	line-height: 23px;
	padding: 3px;
}

.container>.row .col-md-9 .community .tab-content a {
	width: 180px;
	display: inline-block;
	float: left;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nickname {
	float: right;
	position: relative;
	display: block;
	text-align: right;
}

.plus {
	padding: 5px;
	margin: 5px;
}

.new-ranking {
	border: 1px solid gray;
	overflow: auto;
}

.faq {
	border: 1px solid gray;
	overflow: auto;
	margin-bottom: 10px;
}

.container>.row .col-md-3 .faq .nav-tabs .nav-item {
	display: block;
	float: left;
	width: 75%;
	line-height: 28px;
	margin-right: -2px;
	padding: 5px;
	color: #495057 !important;
}

.container>.row .col-md-3 .faq .tab-content li {
	position: relative;
	overflow: hidden;
	line-height: 23px;
	padding: 3px;
}

.news-ranking {
	border: 1px solid gray;
	overflow: auto;
}

.breadcrumb-item+.breadcrumb-item::before {
	content: "|";
}

.news-nav {
	border-bottom: 1px solid gray;
	position: relative;
	display: block;
	padding: 5px;
	clear: both;
	width: 100%;
}

,
#pills-tab {
	position: absolute;
	right: 0;
	top: 10px;
}

.nav-link {
	padding: 0;
}

.news-ranking .tab-content .tab-pane .headline{
	border-bottom: 1px solid #dee2e6;
    padding: 15px 20px 15px 20px;
    margin-bottom: 8px;
}
.news-ranking .tab-content .tab-pane .headline a{
    display: table;
    width: 100%;
    color: #000;
    table-layout: fixed;
}
.news-ranking .tab-content .tab-pane .headline p{
    display: table-cell;
    height: 90px;
    vertical-align: top;
    line-height: 100%;
}
.news-ranking .tab-content .tab-pane .headline strong{
    display: block;
    line-height: 19px;
    font-size: 16px;
    margin-bottom: 15px;
    padding-top: 4px;
    max-height: 40px;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-ranking .tab-content .tab-pane .headline span{
    display: block;
    height: 50px;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.news-ranking .tab-content .tab-pane .headline p mark{
    display: inline-block;
    color: #888;
    font-size: 13px;
}
.news-ranking .tab-content .tab-pane .headline p em{
    display: inline-block;
    color: #888;
    font-size: 13px;
}

.news-ranking .tab-content .tab-pane .headline p em:before{
    content: "|";
    padding-left: 5px;
    margin-right: 7px;
    color: #eaeaea;
}