@charset "UTF-8";


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, a {
    font-family: 'Noto Sans KR', sans-serif;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
   pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, small,
   var, i, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption,
   tbody, tfoot, thead, tr, article, aside, canvas, details, figcaption,
   figure, footer, header, hgroup, menu, nav, section, summary, time,
   audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   font-size: 14px;
   background: transparent;
   list-style: none;
   box-sizing: border-box;
   word-break: break-all;
}
legend, caption {
    font-size: 0;
    overflow: hidden;
    text-indent: -9999999px;
    height: 0;
    width: 0;
    line-height: 0;
}
span, em, mark, strong, b, label {
   margin: 0;
   padding: 0;
   border: 0;
   vertical-align: baseline;
   background: transparent;
   list-style: none;
   box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
em, i {
   font-style: normal;
}

a, a:link, a:visited, a:active, a:hover {
   text-decoration: none;
}

p {
    line-height: 160%;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
td, th {
    word-break: break-all;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    background: #eff3f6;
    color: #000;
}
input[type="text"], input[type="password"], input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    width: 100%;
    padding: 5px 35px 6px 10px;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 0;
}
.containerNew {
    position: relative;
    max-width: 1260px;
    height: 100%;
    padding: 20px 0 0 0;
    margin: 0 auto;
}
.cont-area {
    padding: /*20px 30px 60px 30px*/20px 30px 30px 30px;
    margin-bottom: /*70px*/40px;
    background: #fff;
    position: relative;
}
.hidden {
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
}
.t-search-box {
    padding-top: 10px;
}
.condition-area {
    position: relative;
    border: 1px solid #eaeaea;
    padding: 20px 17px 20px 20px;
    text-align: center;
}
.condition-area .search-area {
    margin-bottom: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    text-align: left;
}
.search-area {
    position: relative;
    border: 1px solid #eaeaea;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.search-area:after {
    content: "";
    display: block;
    clear: both;
}
.search-area .input-style {
    width: 360px;
}
.condition-area .search-area .input-style.short {
    width: 320px;
}
[class*="input-style"] {
    display: inline-block;
    position: relative;
}
.search-area .input-style input {
    width: 100%;
}


/* 버튼 css */
[class*="btn-"].gray {
    background: #444;
    border: 1px solid #444;
    color: #fff;
}
[class*="btn-t"] {
    padding: 6px 10px;
    min-width: 60px;
    font-size: 14px;
}
[class*="btn-"] {
    position: relative;
    background: #fff;
    border: 1px solid #444;
    line-height: 100%;
    display: inline-block;
    color: #000;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: center;
}
input[type="button"], button {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
}



.search-area:after {
    content: "";
    display: block;
    clear: both;
}
.t-search-box > div {
    margin-top: 60px;
}
.t-search-box > div.t-search-msg {
    margin-top: 40px;
}
.t-search-box > div.t-search-msg p {
    font-size: 16px;
}
.t-search-box > div.t-search-msg p span {
    font-weight: bold;
}
.color-fantasy {
    color: rgba(46,87,255,1) !important;
}
.t-search-box .tab-area {
    margin-top: 20px;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.tab-area {
    position: relative;
    width: 100%;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
[class*="tab-st01"] {
    margin-bottom: 30px;
    border: 1px solid #eaeaea;
    background: #f9f9f9;
    box-sizing: border-box !important;
}
[class*="tab-st01"]:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
}
.t-search-box .tab-area + div {
    margin-top: 0;
}
.t-search-box .heading-wrap {
    min-height: 33px;
    overflow: visible;
}
.heading-wrap {
    overflow: hidden;
    padding-bottom: 5px;
}
.heading-wrap .tit-h2, .heading-wrap .tit-h3 {
    float: left;
}
.tit-h2 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}
.t-search-box .t-search-mem {
    border-top: #444 1px solid;
    padding: 10px 15px;
}
.t-search-box .t-search-mem li {
    line-height: 1.6;
    padding-bottom: 5px;
}
.t-search-box .t-search-mem li a {
    color: #000;
}
.t-search-box .more {
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: #eaeaea 1px solid;
    border-top: #eaeaea 1px solid;
    /* margin-bottom: 60px; */
}
.t-search-box .more p {
    height: 40px;
    line-height: 40px;
}
.link-btn {
    position: relative;
    display: inline-block;
    padding-right: 18px;
    color: #af814d;
    font-size: 13px;
    font-weight: normal;
}
.t-search-box .search-jongmok > ul {
    border-top: #444444 1px solid;
}
.t-search-box .search-jongmok > ul > li {
    clear: both;
}
.t-search-box .search-jongmok ul li > p {
    position: relative;
    padding: 10px 10px 10px 10px;
    color: #000;
    border-bottom: #eaeaea 1px solid;
    box-sizing: border-box;
    width: 100%;
}
.t-search-box .search-jongmok ul li > p a {
    font-size: 16px;
    display: inline-block;
    color: #000;
}
.t-search-box .keyword {
    color: #1ea3fe;
    font-size: inherit;
}
.t-search-box .search-jongmok ul li > p .star {
    margin-left: 5px;
}
.t-search-box .search-jongmok ul li > p .star button {
    display: inline-block;
    width: 20px;
    height: 19px;
    background: url(/resources/img/star2.png) no-repeat 0 0;
    background-size: 20px 75px;
    text-indent: -9999em;
    margin-right: 10px;
}
.heading-wrap > p {
    float: right;
    font-size: 13px;
    color: #888;
}
.t-search-box .heading-wrap p > button.selected {
    color: rgba(46,87,255,1);
}
.t-search-box .heading-wrap p > button {
    color: #888888;
    margin-left: 10px;
    font-size: 14px;
}
.t-search-box .heading-wrap p > button i {
    font-size: 10px;
}
.t-search-box .search-posts {
    border-top: #444 1px solid;
}
.t-search-box .search-posts > ul > li {
    padding: 10px 15px;
    line-height: 1.6;
    border-bottom: #eaeaea 1px solid;
}
.t-search-box .search-posts > ul > li .crumb {
    font-size: 13px;
    color: #888;
    padding-bottom: 5px;
}
.t-search-box .search-posts > ul > li > a {
    font-size: 16px;
    color: #000;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.t-search-box b {
    color: #1ea3fe;
    font-size: inherit;
}
.t-search-box .search-posts > ul > li .info span {
    background: url(/resources/img/bg_line.png) no-repeat right 50%;
    padding-right: 10px;
    margin-right: 5px;
    font-size: 13px;
    color: #888;
    white-space: nowrap;
}
[class*="tab-st01"] li {
    position: relative;
    float: left;
    width: 50%;
}
.tab-st01.num07 li {
    width: 20%;
}
[class*="tab-st01"] li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
}
[class*="tab-st01"] li.selected a {
    z-index: 3;
    background: #fff;
    line-height: 50px;
    color: rgba(46,87,255,1);
}
[class*="tab-st01"] li a {
    position: relative;
    z-index: 1;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #000;
    border-right: 1px solid #eaeaea;
    background: #f9f9f9;
    box-sizing: border-box;
}
[class*="tab-st01"] li.selected a:after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-bottom: 2px solid rgba(46,87,255,1);
}
[class*="message-st"] {
    max-width: 460px;
    margin: 100px auto;
    text-align: center;
    line-height: 150%;
}
[class*="message-st"] .big-text {
    position: relative;
    font-size: 20px;
    line-height: 150%;
    padding-top: 100px;
}
.big-text {
    font-size: 16px;
    line-height: 170%;
    color: #222;
}
[class*="message-st"] span {
    display: inline-block;
    font-size: inherit;
}
[class*="message-st"] .big-text:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    height: 130px;
    background: url(/resources/img/icon_message.png) no-repeat 0 0;
}




@media only screen and (max-width: 979px){
.containerNew {
    padding-bottom: 160px;
    padding-top: 0;
}
.cont-area {
    margin: 0 auto;
    max-width: 950px;
    width: 100%;
    float: none;
}
.cont-area {
    min-height: auto;
    margin-right: 0;
    padding: 20px 0 120px;
    /* border-top: 10px solid #eff3f6; */
    max-width: none !important;
    width: 100% !important;
}
.cont-area h1 {
    display: none;
}
.t-search-box {
    padding-top: 0;
}
.condition-area {
    padding: 0;
    border-width: 1px 0 1px;
    border: none;
    border-bottom: #eaeaea 1px solid;
    border-bottom: #eff3f6 10px solid;
}
.condition-area .search-area {
    display: block;
    padding: 0 15px;
    min-height: 55px;
}
.search-area {
    border: 0;
    padding: 0 15px 15px;
    margin-bottom: 0;
    text-align: left;
}
.condition-area .search-area .input-style.short {
    width: 74%;
}
.search-area .input-style {
    width: 74%;
    float: left;
}
input[type="text"], input[type="password"], input[type="tel"] {
    padding: 9px 35px 10px 10px;
    height: 36px;
}
.t-search-box .search-area > button {
    width: 26%;
}
.search-area > button {
    width: 25%;
    float: right;
}
[class*="btn-t"] {
    padding: 10px 10px;
    min-width: 70px;
    font-size: 14px;
    height: 36px;
}
.t-search-box > div.t-search-msg {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 15px;
}
.t-search-box > div {
    margin-top: 0;
    border-bottom: #eff3f6 10px solid;
    margin-bottom: 20px;
}
.t-search-box .tab-area {
    margin-top: 0;
    border-bottom: none;
}
.tab-area {
    border-bottom: 1px solid #eaeaea;
    background: url(/resources/img/tab_bg.png) repeat-x 0 bottom;
}
.tab-area {
    margin-top: -15px;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
}
.tab-area:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
}
[class*="tab-st01"] {
    overflow: hidden;
    position: relative;
    height: 44px;
    margin-bottom: 0;
    border: 0;
    background: #fff;
    z-index: 1;
}
[class*="tab-st01"] {
    overflow: visible;
    padding-left: 15px;
}
.tab-area:after {
    content: "";
    display: block;
    clear: both;
    width: 0;
    height: 0;
}
.t-search-box .heading-wrap {
    padding-left: 15px;
    padding-right: 15px;
}
.heading-wrap {
    padding-right: 15px;
}
.t-search-box .search-jongmok ul li > p {
    display: block;
}
.t-search-box .heading-wrap p {
    float: none;
    clear: both;
}
.t-search-box .heading-wrap p button:first-child {
    margin-left: 0;
}
.t-search-box .heading-wrap p button {
    font-size: 13px;
}
.t-search-box .search-posts > ul > li > a {
    font-size: 14px;
}
.tab-st01.num07 li {
    width: auto;
}
[class*="tab-st01"] li {
    width: auto;
    margin-bottom: 10px;
}
[class*="tab-st01"] li.selected a {
    height: 43px;
    line-height: 43px;
}
[class*="tab-st01"] li a {
    height: 43px;
    line-height: 43px;
    border-bottom: 0;
    padding: 0 10px;
    background: none;
    border-right: 0;
    min-width: 50px;
}
[class*="tab-st01"] li.selected a:after {
    bottom: -2px;
}
[class*="tab-st01"] li.selected a:after {
    border-bottom: 1px solid rgba(46,87,255,1);
}
[class*="message-st"] .big-text {
    font-size: 16px;
}
}
